/* 
Lucien Koenekoop
10531661

Data Processing
Week 6
*/

body { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Text font and centers the header */
#headerr {
  text-indent: 200px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#name {
  font: 12px sans-serif;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#map {
  width: 400px;
  height: 300px;
}

path:hover {
  fill: rgba(8, 81, 156, 0.2);
  cursor:pointer;
}

#bar {
  fill: midnightblue;
}

#bar:hover {
  fill: crimson;
}

#bar2 {
  fill: midnightblue;
}

#bar2:hover {
  fill: crimson;
}

.axis {
  font: 12px sans-serif;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}